@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #fff;
}

.conteiner {
    width: 990px;
    display: flex;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
}

article a {
    text-decoration: none;
}

.menu,
.menu li {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li .menulink {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;

}

.menu li .menulink:hover {
    background-color: #8f1414;
    color: #fff;
}

.logo img {
    width: 90px;
}

#banner {
    background-image: url('../images/65499160-happy-woman-feeling-free-with-open-arms-in-sunshine-at-beach-sunset-freedom-and-carefree-enjoyment-g.webp');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;

}

.column {
    flex-direction: column;
}

.b_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b_headline h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 2px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.b_headline h2 {
    font-size: 22px;
    color: #fff;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    max-width: 350px;
}

.b_options {
    height: 210px;
    display: flex;

}

.b1,
.b2,
.b3 {
    flex: 1;
    color: #fff;
    padding: 20px;
    margin: 0;
}

.b1 {
    background-color: #f71b1b;
}

.b2 {
    background-color: #9a1313;
}

.b3 {
    background-color: #5c0d0d;
}

.b_options_h1 {
    font-size: 21px;
}

.b_options_p {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.b_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}


.b3_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.b3_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.b3_list ul li {
    list-style: none;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
}

#geral {
    display: flex;
    justify-content: center;

}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.w_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.w_txt {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.w_bar {
    width: 50px;
    height: 3px;
    background-color: #f71b1b;
}

.departament_body {

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;

}

.d_content {
    width: 120px;
    height: 120px;
    background-color: #f71b1b;
    margin: 10px;
}

article .n_date {
    display: flex;
}

article .n_postdate {
    color: #fff;
    font-size: 12px;
    background-color: #8f1414;
    padding: 10px;
    margin-right: 2px;
}

article .n_comments {
    background-color: #f71b1b;
    font-size: 12px;
    padding: 10px;
    color: #fff;
}

article .n_tumb {
    margin-top: 30px;
}

article .n_tumb img {
    width: 100%;
    height: auto;
}

article .n_title h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;

}

article .n_resume {
    color: #555;
    font-size: 14px;
    line-height: 20px;
}

.n_body {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #171717;

}

.f_main {
    display: flex;
    flex-direction: column;
}

.f_color {
    height: 105px;
    display: flex;


}


.f_c_1,
.f_c_2,
.f_c_3 {
    display: flex;
    flex-direction: column;
    color: #fff;
    flex: 1;
    padding: 20px;
    margin: 0;
}

.f_c_1 {
    background-color: #f71b1b;
}

.f_c_2 {
    background-color: #9a1313;

}

.f_c_3 {
    background-color: #5c0d0d;

}

.f_black {
    display: flex;


}

.f_content1,
.f_content2,
.f_content3 {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
}

.f_txt {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
}

.f_a_txt {
    color: #fff;
    font-size: 12px;
    padding-bottom: 10px;
}

.f_a_ul {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.f_a_ul div ul {
    list-style: none;
    color: #727272;
    font-size: 12px;
}

.f_a_ul div ul .f_mail {
    color: #fff;
}

.f_article1,
.f_article2,
.f_article3 {
    padding: 10px;
}

.f_article2 {
    display: flex;
    flex-direction: column;
}

.f_a2_txt {
    font-size: 12px;
    color: #fff;
}

.f_a2_year {
    font-size: 11px;
    color: #f71b1b;
}

.f_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;

}